*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0px;
    background-image: url("https://www.itl.cat/pngfile/big/28-284778_wallpapers-id-desktop-background-sunrise.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}
nav{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.463);
    overflow: hidden;
}
/* .background{
    background-image: url("https://www.itl.cat/pngfile/big/28-284778_wallpapers-id-desktop-background-sunrise.jpg");
} */
.logo{
    padding-left: 15px;
    padding-top: 15px;
}
.icon{
    padding-left: 60px;
    padding-top: 15px;
}
.login{
    color: white;
    float: right;
    padding-right: 30px;
    padding-top: 25px;
    font-size: large;
    font-weight: 300;
    font-family: sans-serif;
}
.login:hover{
  color:#1DA1F2;
}
/* .sign{
    background-color: white;
    color: black;
} */
.log{
    padding-right: 30px;
}
.sign{
    background-color: rgb(1, 6, 10);
    border: 100px;
    border-radius: 3px;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}
.sign:hover{
    color: rgb(230, 50, 167);
}
